---
name: build

on:
  push:
    branches:
      - master
      - renovate/**
    paths-ignore:
      - "**.md"
      - ".gitignore"
      - "samples/**"
      - "grafana/**"
      - "systemd/**"
      - "renovate.json"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - ".gitignore"
      - "samples/**"
      - "grafana/**"
      - "systemd/**"
      - "renovate.json"

concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2
      - name: Setup Go
        uses: actions/setup-go@v3.2.1
        with:
          # renovate: go
          go-version: 1.18.4
      - name: Ensure go.mod is already tidied
        run: go mod tidy && git diff --no-patch --exit-code
      - name: Run linters
        uses: golangci/golangci-lint-action@v3.2.0
        with:
          # renovate: depName=golangci/golangci-lint datasource=github-releases
          version: v1.46.2
          args: --timeout=3m0s
      - name: Install richgo
        # renovate: depName=kyoh86/richgo
        run: go install github.com/kyoh86/richgo@v0.3.10
      - name: Run tests
        run: richgo test -race -coverpkg=./... -coverprofile=profile.cov -covermode=atomic -timeout 20m -v ./...
      - name: Send coverage
        uses: shogo82148/actions-goveralls@v1.6.0
        with:
          path-to-profile: profile.cov
          shallow: true
      - name: Build with Goreleaser
        uses: goreleaser/goreleaser-action@v3.0.0
        with:
          # renovate: depName=goreleaser/goreleaser datasource=github-releases
          version: v1.10.2
          args: release --snapshot --skip-publish --rm-dist
        env:
          PRIVATE_ACCESS_TOKEN: placeholder
